.news-feed {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.articles {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.article {
  border: 1px solid black;
  padding: 15px;
  background-color: lightblue;
}

.article:hover {
  background-color: rgb(141, 189, 206);
  transform: scale(1.1);
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 50px;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .news-feed {
    max-width: 100%;
    padding: 10px;
  }
}